<div>
    <h2 class="w-full text-2xl text-center my-4 font-serif">@character.Name (@character.PlayerName)</h2>

    <div class="w-full flex justify-center">
        <a class="transition ease-in-out hover:scale-110 duration-200 text-md text-slate-600 font-serif my-2 py-2 px-4 bg-slate-200 hover:bg-slate-300 rounded-full border-2 border-slate-600" href="/play?key=@sessionKey&chardata=@character.Key">Edit Character (@character.Name)</a>
    </div>

    <div class="w-full flex justify-center overflow-x-auto">
        <div class="max-w-2xl">
            <table class="w-full text-md text-center font-serif table-auto">
                <tr>
                    <th scope="col" class="px-6 py-3">Race</th>
                    <th scope="col" class="px-6 py-3">Height</th>
                    <th scope="col" class="px-6 py-3">Alignment</th>
                    <th scope="col" class="px-6 py-3">Level</th>
                    <th scope="col" class="px-6 py-3">Class Info</th>
                </tr>
                <tr>
                    <td>@character.Race</td>
                    <td>@character.Height</td>
                    <td>@character.Alignment</td>
                    <td>@character.Level</td>
                    <td>@character.ReturnClassList()</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="w-full flex justify-center overflow-x-auto">
        <div class="max-w-xl">
            <table class="w-full text-md text-center font-serif table-auto">
                <tr>
                    <th scope="col" class="px-6 py-3">HP</th>
                    <th scope="col" class="px-6 py-3">AC</th>
                    <th scope="col" class="px-6 py-3">Prof.</th>
                </tr>
                <tr>
                    <td>@character.HP / @character.TotalHP</td>
                    <td>@character.AC</td>
                    <td>@displayModifier(character.Proficiency)</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="w-full flex justify-center overflow-x-auto">
        <div class="max-w-xl">
            <table class="w-full text-md text-center font-serif table-auto">
                <tr>
                    <th></th>
                    <th scope="col" class="px-6 py-3">STR</th>
                    <th scope="col" class="px-6 py-3">DEX</th>
                    <th scope="col" class="px-6 py-3">CON</th>
                    <th scope="col" class="px-6 py-3">INT</th>
                    <th scope="col" class="px-6 py-3">WIS</th>
                    <th scope="col" class="px-6 py-3">CHA</th>
                </tr>
                <tr>
                    <td class="text-right">Value</td>
                    <td>@character.STR.Value</td>
                    <td>@character.DEX.Value</td>
                    <td>@character.CON.Value</td>
                    <td>@character.INT.Value</td>
                    <td>@character.WIS.Value</td>
                    <td>@character.CHA.Value</td>
                </tr>
                <tr>
                    <td class="text-right">Modifer</td>
                    <td>@displayModifier(character.STR.Modifier)</td>
                    <td>@displayModifier(character.DEX.Modifier)</td>
                    <td>@displayModifier(character.CON.Modifier)</td>
                    <td>@displayModifier(character.INT.Modifier)</td>
                    <td>@displayModifier(character.WIS.Modifier)</td>
                    <td>@displayModifier(character.CHA.Modifier)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@code {
    string displayModifier(int value) {
        return value > 0 ? $"+{value}" : $"{value}";
    }

    [Parameter]
    public PlayerStats character { get; set; }

    [Parameter]
    public string sessionKey { get; set; }
}
